@import url("https://fonts.googleapis.com/css2?family=Chathura:wght@100;300;400;700;800&family=Courier+Prime:ital,wght@1,400;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Varela+Round&display=swap");

body {
  /* font-family: 'Chathura', sans-serif;
  font-family: 'Courier Prime', monospace;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Varela Round', sans-serif; */
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.datetime {
  /* background-color: #254d8b; */
  display: flex;
  flex-direction: column;
  width: 125vh;
}
/* ----------------- Date ----------------- */
.date {
  /* background-color: #71c99a; */
  font-family: "Varela Round", sans-serif;
  height: 20px;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#year {
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 1.5em;
}

#month {
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 1.5em;
}

#daynum {
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 1.5em;
}

/* ----------------- Time ----------------- */
.time {
  display: flex;
  height: 400px;
  padding: 20px 0px;
  flex-basis: 75%;
  margin: 30px;
  font-size: 10em;
  font-weight: 900;
  /* font-family: "Chathura", sans-serif; */
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Courier Prime", monospace;
  /* font-family: "Oswald", sans-serif; */
  /* background-color: #e70197; */
  justify-content: center;
  /* align-items: center; */
  position: relative;
}

#dot {
  font-size: 4rem;
  margin: 20px 30px;
  font-weight: 100;
  opacity: 10%;
  align-self: center;
}

#hour {
  margin: 0 30px;
  padding: 0px 30px;
  height: fit-content;
  /* background-color: #d8ff63; */
}

#minutes {
  margin: 0 30px;
  padding: 0px 30px;
  height: fit-content;
  /* background-color: #d8ff63; */
}
#seconds {
  margin: 0 30px;
  padding: 0px 30px;
  height: fit-content;
  position: static;
  /* background-color: #d8ff63; */
}

/* ----------------- Dayname ----------------- */
.dayname {
  /* background-color: #a7f5fb; */
  height: 20px;
  padding: 20px 10px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

#dayname {
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 1.5em;
  font-family: "Varela Round", sans-serif;
}

/* ----------------- Link ----------------- */
